.section-1 {
    background-image: linear-gradient(180deg, rgb(49, 48, 48), white);
    padding-bottom: var(--size-100);
}
.nav-part{
    margin-bottom: 5rem;
}
.navbar-brand.main-demo{
    color: gray;
    font-size: var(--size-14)
}
.container.demo {
    display: flex;
    color: gray;
}
ul.navbar-nav.rabbit a {
    color: grey;
}
 
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    transition: ease-in-out;
}
[aria-controls="navbarDropdown"]{
    display: none;
}
.navbar-nav{
    display: flex;
    align-items: center;

}
.navbar .container{
    display: flex;
    align-items: center;
    margin-top: 2rem;

}

.navbar-brand {
    margin-right: auto;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    transition: ease-in-out 0.3s;
    color: blue;
}

.navbar-brand img {width: 5rem;}

.nav-link a {
    font-size: .8125rem;
    font-weight: 600;
    font-family: "Hind", sans-serif;
    margin-right: var(--size-30);
    line-height: var(--size-20);
    white-space: nowrap;
    color: black;
}
.nav-link.home a { color: blue;}
.nav-link.myButton a,
span.nav-link.myButton  {
    border: var(--size-1) solid var(--grad-1);
    box-shadow: 0 10px 20px rgb(161 236 255 / 50%);
    transition: ease-in-out 0.3s;
    color: white;
    padding: 0.4375rem 1.5625rem;
    background-color: blue;
    border-radius: 1.25rem;
    cursor: pointer;
}
.empowering {
    display: inline-flex;
    gap: 10rem;
    flex-wrap: wrap;
}
div.empowering-left-header { font-size: var(--size-40); }
div.empowering-left-para { font-size: var(--size-20); }

@keyframes empowering-right {
    to {
        visibility: visible;
    }
}
.empowering-imgs.google{
    visibility: hidden;
    animation: 0s linear 1.3s forwards empowering-right ;
    transform: translate(-0.625rem, 1.25rem);
    width: 1.4vw;
}
.empowering-imgs.atlas {
    visibility: hidden;
    animation: 0s linear 1.9s forwards empowering-right ;
    transform: translate(10.938rem, 4.375rem);
    width: 4.2vw;
}
.empowering-imgs.asana {
    visibility: hidden;
    animation: 0s linear 2.3s forwards empowering-right ;
    transform: translate(26.563rem, -5rem);
    width: 4rem;
}
.empowering-imgs.paypal {
    visibility: hidden;
    animation: 0s linear 2.9s forwards empowering-right ;
    transform: translate(-1.25rem, 1.25rem);
    width: 4rem;
}
.empowering-imgs.weave {
    visibility: hidden;
    animation: 0s linear 2.5s forwards empowering-right ;
    transform: translate(25rem, -7.813rem);
    width: 3rem;
}
.empowering-imgs.google-a {
    visibility: hidden;
    animation: 0s linear 2.7s forwards empowering-right ;
    transform: translate(22.5rem, 3.75rem);
    width: 2rem;
}
.empowering-imgs.calendar {
    visibility: hidden;
    animation: 0s linear 1.5s forwards empowering-right ;
    transform: translate(25rem, -1.563);
    width: 4rem;
}

 .gallery-imgs li img {
    width: auto;
    margin: auto;
	list-style: none;
	float: right;
	padding: .625rem;
    background-color: white;
    border: 10px solid white;
    border-radius: 50%;
 }
 
 .section-2 {
    text-align: center;
 }
 .section-2.key-benefits h2 {
    font-size: var(--size-20);
    font-weight: 500;
    line-height: 1.2;
 }
 div.key-benefits-para p {
    font-size: var(--size-14);
 }

 .service-grid {
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
    
}
.service-card {
    padding: var(--size-30);
    box-shadow: 0 0 10px rgba(48, 63, 100. .15);
    background: white;
    border-radius: 8px;
    text-align: left;
}
div.service-card img {
    width: 5rem;
}









